.topbar-wrapper{
  border-bottom: 1px solid #e5e5e5;
}
.topbar{
  height: 38px;
}
.sub-text{
  color: #222;
  font-weight: normal;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  margin-top: 10px;
}

.icon-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.icon-box:hover{
  color: blue;
}

.logout-btn{
    color: #000;
    border: 0;
    padding: 4px 20px;
    font-size: 14px;
    border-radius: 8px;
    font-weight: 300;
    transition: .3a linear;
    margin-bottom: 2px;
    border: 1px solid #cfcfcf;
    background: #e5e5e5;
}
.logout-btn:hover{
  background: #002A6E;
  color: #fff;
  transition: .3s linear;
}