.dashbaord-left {
  background: #081828;
  color: aliceblue;
}

.dashboard-logo-wrapper{
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  align-items: center;
}

.dashboard-title{
  font-size: 28px;
  margin-left: 10px;
}

.dashboard-logo{
font-size: 30px;
}

.dashboard-link{ 
  width: 100%;
  color: white;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  transition: .5s linear;
}
.lnik-text{
  font-size: 15px;
}
.dashboard-link:hover  {
  background: #333a48dc;

}
.link-icon{
  margin-right: 10px;
  font-size: 20px;
}

.btn-submit{
  width: 100%;
  background: #1C2434;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  border-radius: 4px;
  transition: .3s linear;
  margin-top: 20px;
}
.btn-submit:hover{
  background: #121721;
}

.update-btn{
  background: #4656DB;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  padding: 6px;
  border-radius: 8px;
  margin-top: 50px;
}

.update-btn:hover{
  background: #2835ac;
  transition: .3s linear;
}

.profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}