
.swiper {
  max-width: 95%;
  max-height: 100%;
}

.swiper-slide img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}


.background-image-one{
 
  background: url('../../assets/images/banner/bg1.png') center center no-repeat;
  background-size: cover;
  padding: 50px 30px 30px 30px;
  &:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6; 
        pointer-events: none; 
        z-index: 4;
  }
}

.right-area{
  z-index: 10;
}

.left-area{
  z-index: 10;
}

.price-text{
  color: #fff;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
}

.slider-title{
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  text-transform: capitalize;
  line-height: 46px;
  margin-bottom: 17px;
  margin-top: 8px;
}

.bold-text{
  color: #fff;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
}

.slider-des{
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
}

.shop-btn{
  background: #002A6E;
  border: 0;
  padding: 15px 35px;
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 300;
  transition: .3a linear;
  margin-bottom: 30px;
}

.shop-btn:hover{
  background: #262d4b;
}
