.category-card{
  display: flex;
  align-items: center;
  padding: 6px 14px;
  margin: 30px 14px 14px 14px;
}

.category-des{
  margin-left: 16px;
}

.category-title{
  font-size: 17px;
  color: #222;
  margin-bottom: 5px;
  font-weight: 600;
}

.stock-des{
  color: #666;
  margin-bottom: 5px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.view-btn{
  color: blue;
  font-size: 14px;
  font-weight: 300;
  transition: .3s linear;
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 400;
}

.category-card:hover .view-btn {
background:#002A6E ;
color: #fff;
}

.category-img{
  width: 35%;
}
.category-img > img{
  max-width: 100%;
  max-height: 100%;
}